<div class="container">
  <div class="form">
    <h2 class="title">Price calculator</h2>

    <form>
      <app-radio-group
        [options]="radioOptions"
        [control]="calculatorForm.rate"
      ></app-radio-group>

      <app-input
        class="first-input"
        label="Gross"
        [control]="calculatorForm.gross"
      >
      </app-input>

      <app-input label="Net" [control]="calculatorForm.net"> </app-input>

      <app-input label="Vat" [control]="calculatorForm.vat"> </app-input>

    </form>
  </div>
</div>
